[Desktop Entry]
Name=KJotsPart
Name[ca]=Part del KJots
Name[ca@valencia]=Part del KJots
Name[de]=KJotsPart
Name[es]=KJotsPart
Name[fi]=KJots-osa
Name[gl]=KJotsPart
Name[it]=KJotsPart
Name[nl]=KJotsPart
Name[pl]=KJotsPart
Name[pt]=KJotsPart
Name[pt_BR]=KJotsPart
Name[sk]=KJotsPart
Name[sv]=Kjots-delprogram
Name[uk]=KJotsPart
Name[x-test]=xxKJotsPartxx
Name[zh_CN]=KJotsPart
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=kjotspart
Type=Service
Icon=kjots

