[Desktop Entry]
Icon=kjots
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kjots
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kjots
X-KDE-ParentComponents=kjots,kontact_kjotsplugin
X-KDE-CfgDlgHierarchy=Notebooks
X-KDE-Weight=200

Name=Misc
Name[ca]=Varis
Name[ca@valencia]=Varis
Name[nl]=Diversen
Name[pt]=Diversos
Name[sv]=Diverse
Name[uk]=Інше
Name[x-test]=xxMiscxx
Comment=Setup misc for KJots
Comment[ca]=Arranja els varis pel KJots
Comment[ca@valencia]=Arranja els varis pel KJots
Comment[nl]=Overige instellingen voor KJots
Comment[pt]=Configuração diversa do KJots
Comment[sv]=Diverse inställningar för Kjots
Comment[uk]=Різноманітні налаштування Kjots
Comment[x-test]=xxSetup misc for KJotsxx
