[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kjots
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kjots
X-KDE-ParentComponents=kjots,kontact_kjotsplugin
X-KDE-CfgDlgHierarchy=Notes
X-KDE-Weight=200

Name=Misc
Name[ca]=Varis
Name[ca@valencia]=Varis
Name[cs]=Různé
Name[da]=Diverse
Name[de]=Verschiedenes
Name[el]=Διάφορα
Name[en_GB]=Misc
Name[es]=Diversos
Name[et]=Misc
Name[eu]=Hainbat
Name[fi]=Sekalaista
Name[fr]=Divers
Name[gl]=Varios
Name[ia]=Misc
Name[it]=Varie
Name[ko]=기타
Name[nl]=Diversen
Name[pl]=Różne
Name[pt]=Diversos
Name[pt_BR]=Diversos
Name[ru]=Прочее
Name[sk]=Rôzne
Name[sl]=Razno
Name[sv]=Diverse
Name[tr]=Çeşitli
Name[uk]=Інше
Name[x-test]=xxMiscxx
Name[zh_CN]=基本
Name[zh_TW]=其他
Comment=Setup misc for KJots
Comment[ca]=Arranja els varis per al KJots
Comment[ca@valencia]=Arranja els varis per al KJots
Comment[cs]=Různá nastavení KJots
Comment[da]=Opsætning af diverse til KJots
Comment[de]=Verschiedene Einstellungen für KJots
Comment[el]=Ρύθμιση διαφόρων για το KJots
Comment[en_GB]=Setup misc for KJots
Comment[es]=Configuración diversa par KJots
Comment[et]=KJotsi misci seadistamine
Comment[eu]=Kjots-en hainbaten ezarpena
Comment[fi]=Aseta sekalaiset KJots-asetukset
Comment[fr]=Configuration (divers) de KJots
Comment[gl]=Configurar varios aspectos de KJots.
Comment[ia]=Configura Misc pro KJots
Comment[it]=Impostazioni varie per KJots
Comment[ko]=KJots 기타 설정
Comment[nl]=Overige instellingen voor KJots
Comment[pl]=Różne ustawienia dla KJots
Comment[pt]=Configuração diversa do KJots
Comment[pt_BR]=Configurações diversas do KJots
Comment[ru]=Дополнительные параметры KJots
Comment[sk]=Rôzne nastavenie pre KJots
Comment[sl]=Nastavitev raznega za KJots
Comment[sv]=Diverse inställningar för Kjots
Comment[tr]=KJots için çeşitli seçenekleri ayarla
Comment[uk]=Різноманітні налаштування Kjots
Comment[x-test]=xxSetup misc for KJotsxx
Comment[zh_CN]=设置 KJots 的杂项
Comment[zh_TW]=設定 KJots 的雜項
