[Desktop Entry]
Icon=kjots
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kjots
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kjots
X-KDE-ParentComponents=kjots,kontact_kjotsplugin
X-KDE-CfgDlgHierarchy=Notebooks
X-KDE-Weight=200

Name=Misc
Name[ca]=Varis
Name[ca@valencia]=Varis
Name[da]=Diverse
Name[de]=Verschiedenes
Name[fi]=Sekalaiset
Name[gl]=Varios
Name[it]=Varie
Name[nl]=Diversen
Name[pl]=Różne
Name[pt]=Diversos
Name[pt_BR]=Diversos
Name[sk]=Rôzne
Name[sv]=Diverse
Name[uk]=Інше
Name[x-test]=xxMiscxx
Name[zh_CN]=杂项
Comment=Setup misc for KJots
Comment[ca]=Arranja els varis pel KJots
Comment[ca@valencia]=Arranja els varis pel KJots
Comment[da]=Opsætning af diverse til KJots
Comment[fi]=Aseta sekalaiset KJots-asetukset
Comment[gl]=Configurar varios aspectos de KJots.
Comment[it]=Impostazioni varie per KJots
Comment[nl]=Overige instellingen voor KJots
Comment[pl]=Różne ustawienia dla KJots
Comment[pt]=Configuração diversa do KJots
Comment[pt_BR]=Configurações diversas do KJots
Comment[sk]=Rôzne nastavenie pre KJots
Comment[sv]=Diverse inställningar för Kjots
Comment[uk]=Різноманітні налаштування Kjots
Comment[x-test]=xxSetup misc for KJotsxx
Comment[zh_CN]=设置 KJots 的杂项
