[Desktop Entry]
Name=KJotsPart
Name[ca]=Part del KJots
Name[ca@valencia]=Part del KJots
Name[cs]=KJotsPart
Name[da]=KJotsPart
Name[de]=KJotsPart
Name[el]=KJotsPart
Name[en_GB]=KJotsPart
Name[es]=KJotsPart
Name[et]=KJotsi komponent
Name[fi]=KJots-osa
Name[fr]=KJotsPart
Name[gl]=KJotsPart
Name[ia]=KJotsPart
Name[it]=KJotsPart
Name[ko]=KJotsPart
Name[nl]=KJotsPart
Name[pl]=KJotsPart
Name[pt]=KJotsPart
Name[pt_BR]=KJotsPart
Name[ru]=KJotsPart
Name[sk]=KJotsPart
Name[sl]=KJotsPart
Name[sv]=Kjots-delprogram
Name[tr]=KJotsPart
Name[uk]=KJotsPart
Name[x-test]=xxKJotsPartxx
Name[zh_CN]=KJotsPart
Name[zh_TW]=KJotsPart
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=kjotspart
Type=Service
Icon=kjots

