[Desktop Entry]
X-DocPath=kjots/index.html
Name=KJots
Name[ca]=KJots
Name[ca@valencia]=KJots
Name[es]=KJots
Name[gl]=KJots
Name[it]=KJots
Name[nl]=KJots
Name[pl]=KJots
Name[pt]=KJots
Name[pt_BR]=KJots
Name[sk]=KJots
Name[sv]=Kjots
Name[uk]=KJots
Name[x-test]=xxKJotsxx
GenericName=Note Taker
GenericName[ca]=Pren notes
GenericName[ca@valencia]=Pren notes
GenericName[gl]=Caderno de notas
GenericName[it]=Strumento per annotazioni
GenericName[nl]=Notitieboekje
GenericName[pl]=Robienie notatek
GenericName[pt]=Bloco de Notas
GenericName[pt_BR]=Bloco de Notas
GenericName[sk]=Ukladanie poznámok
GenericName[sv]=Anteckningsblock
GenericName[uk]=Записна книжка
GenericName[x-test]=xxNote Takerxx
Icon=kjots
Exec=kjots -caption %c
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.kjots
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
