[Desktop Entry]
X-DocPath=kjots/index.html
Name=KJots
Name[ast]=KJots
Name[ca]=KJots
Name[ca@valencia]=KJots
Name[cs]=KJots
Name[da]=KJots
Name[de]=KJots
Name[es]=KJots
Name[fi]=KJots
Name[gl]=KJots
Name[it]=KJots
Name[nl]=KJots
Name[pl]=KJots
Name[pt]=KJots
Name[pt_BR]=KJots
Name[ru]=KJots
Name[sk]=KJots
Name[sv]=Kjots
Name[uk]=KJots
Name[x-test]=xxKJotsxx
Name[zh_CN]=KJots
GenericName=Note Taker
GenericName[ca]=Pren notes
GenericName[ca@valencia]=Pren notes
GenericName[da]=Notetagning
GenericName[de]=Notizblock
GenericName[es]=Tomar notas
GenericName[fi]=Muistiinpanotyökalu
GenericName[gl]=Caderno de notas
GenericName[it]=Strumento per annotazioni
GenericName[nl]=Notitieboekje
GenericName[pl]=Robienie notatek
GenericName[pt]=Bloco de Notas
GenericName[pt_BR]=Bloco de Notas
GenericName[ru]=Блокнот
GenericName[sk]=Ukladanie poznámok
GenericName[sv]=Anteckningsblock
GenericName[uk]=Записна книжка
GenericName[x-test]=xxNote Takerxx
GenericName[zh_CN]=笔记记录工具
Icon=kjots
Exec=kjots -qwindowtitle %c
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.kjots
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
Comment=Note Taker
Comment[ca]=Pren notes
Comment[ca@valencia]=Pren notes
Comment[de]=Notizblock
Comment[es]=Tomar notas
Comment[gl]=Caderno de notas
Comment[it]=Strumento per annotazioni
Comment[nl]=Notitieboekje
Comment[pl]=Robienie notatek
Comment[pt]=Bloco de Notas
Comment[pt_BR]=Bloco de Notas
Comment[sv]=Anteckningsblock
Comment[uk]=Записна книжка
Comment[x-test]=xxNote Takerxx
