[Desktop Entry]
Type=Service
Icon=kjots
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_kjotsplugin
X-KDE-KontactPluginVersion=10
X-KDE-KontactPartLibraryName=kjotspart
X-KDE-KontactPartExecutableName=kjots
X-KDE-KontactPartLoadOnStart=false

X-KDE-PluginInfo-Name=kontact_kjotsplugin
X-KDE-PluginInfo-Version=1.0b2
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=KJots Plugin
Comment[ca]=Connector del KJots
Comment[ca@valencia]=Connector del KJots
Comment[cs]=Modul KJots
Comment[de]=KJots-Modul
Comment[en_GB]=KJots Plugin
Comment[es]=Complemento para KJots
Comment[gl]=Complemento de KJots
Comment[it]=Estensione di KJots
Comment[nl]=KJots-plug-in
Comment[pl]=Wtyczka KJots
Comment[pt]='Plugin' do KJots
Comment[sk]=Plugin KJots
Comment[sv]=Kjots-insticksprogram
Comment[tr]=KJots Eklentisi
Comment[uk]=Додаток до KJots
Comment[x-test]=xxKJots Pluginxx
Name=Notes
Name[ca]=Notes
Name[ca@valencia]=Notes
Name[cs]=Poznámky
Name[de]=Notizen
Name[en_GB]=Notes
Name[es]=Notas
Name[fr]=Notes
Name[gl]=Notas
Name[it]=Note
Name[nl]=Notities
Name[pl]=Notatki
Name[pt]=Notas
Name[sk]=Poznámky
Name[sv]=Anteckningar
Name[tr]=Notlar
Name[uk]=Нотатки
Name[x-test]=xxNotesxx
Name[zh_CN]=便笺
